@import url(poppins.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
    --top: calc(var(--height) + 70px);
    --color: #0053cf;
}
body{
    background: #111213;
    color: var(--color);
}
/*? Elements styling */
a, button{
    color: var(--color);
}
button{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;
}
/*? Subtitles styling */
video::cue{
    opacity: 0;
}
mark{
    background: #000000aa;
    color: #fff;
}
.caption_text{
    position: absolute;
    left: 15px;
    bottom: 35px;
    width: 70%;
    max-width: 70%;
    font-size: 0.7em;
    -webkit-user-select: none;
    user-select: none;
    transition: left 0.3s;
    z-index: 2;
}

/*? Container styling */
.grid{
    position: absolute;
    top: 0;
    width: 100%;
}
.watch{
    position: fixed;
    top: 0;
    bottom: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: min-content;
    z-index: 5;
}
/*! Video player styling */
.container .videoPlayer{
    display: flex;
    position: relative;
    width: 100vw;
    max-width: 1000px;
    aspect-ratio: 16/9;
    box-shadow: 0 0 5px #ffffff3d;
    background: #000;
}
.videoPlayer video{
    width: 100%;
    height: 100%;
}
/* todo: thumbnails styling */
.container .videoPlayer .thumbnail{
    position: absolute;
    bottom: 35px;
    left: var(--x);
    transform: translateX(-50%);
    width: 100px;
    height: 60px;
    background: #000;
    border: 1px solid var(--color);
    border-radius: 5px;
    overflow: hidden;
    display: none;
    z-index: 25;
  }
.videoPlayer .progressAreaTime.thumb{
    bottom: 10px;
    color: #fff;
    background: none;
}
.videoPlayer .progressAreaTime.thumb::before{
    background: none;
}
/* todo: progress area time styling */
.videoPlayer .progressAreaTime{
    position: absolute;
    left: calc(var(--x) - 5px);
    text-align: center;
    white-space: nowrap;
    transform: translateX(-50%);
    min-width: 60px;
    margin-left: 0 30px;
    padding: 5px 10px;
    color: #04111f;
    font-size: 14px;
    background: #0053cf;
    border-radius: 5px;
    z-index: 100;
    bottom: 20px;
    display: none;
}
.videoPlayer .progressAreaTime::before{
    content: '';
    position: absolute;
    bottom: -40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #0053cf;
    width: 20px;
    height: 20px;
    z-index: -1;
}

/* todo: Spinner styling */

.loader {
    --uib-size: 60px;
    --uib-speed: 2s;
    --uib-color: #2a73fe;
    position: absolute;
    top: calc(50% - (var(--uib-size) / 2));
    left: calc(50% - (var(--uib-size) / 2));
    height: var(--uib-size);
    width: var(--uib-size);
    vertical-align: middle;
    transform-origin: center;
    animation: rotate var(--uib-speed) linear infinite;
    z-index: 3;
  }
  
  .loader circle {
    fill: none;
    stroke: var(--uib-color);
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-width: 3;
    animation: stretch calc(var(--uib-speed) * 0.75) ease-in-out infinite;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes stretch {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dashoffset: -124px;
    }
  }

.videoPlayer .webicon{
    position: absolute;
    width: 65px;
    aspect-ratio: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: 0.2s;
    pointer-events: none;
    z-index: 2;
}
.videoPlayer .webicon.active{
    visibility: hidden;
}
/* todo: last counter styling */
.videoPlayer .counter{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
    z-index: 500;
    visibility: hidden;
}
.videoPlayer .counter.active{
    visibility: visible;
}
.videoPlayer .counter img{
    width: 125px;
    aspect-ratio: 16 / 9;
    border-radius: 5px;
}
.videoPlayer .counter .count{
    width: min-content;
    max-width: 275px;
    padding: 15px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    background: #000000bd;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
}
.videoPlayer .counter .count .next-video{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #f5f5f5;
    text-align: left;
    max-height: 75px;
}
.videoPlayer .counter .count .next-video .next-poster{
    font-size: 0.6em;
}
.videoPlayer .counter .count .next-video h3{
    word-break: break-all;
    font-size: 0.9em;
    width: 125px;
}
.videoPlayer .counter .count .next-video h4{
    font-size: 0.65em;
    color: var(--color);
}
.videoPlayer .counter .nxtBtns{
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}
.videoPlayer .counter .nxtBtns .btn{
    position: relative;
    text-decoration: none;
    padding: 6px 20px;
    font-size: 14px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    margin: 5px 2px;
    color: var(--color) !important;
}
.videoPlayer .counter .nxtBtns .btn-dark{
    background: #2d383a;
    border: 2px solid #f5f5f5;
    color: #f5f5f5 !important;
}
/*? Controls styling */
.controls{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #000000f5, transparent, transparent, #000000f5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    visibility: hidden;
    transition:  0.3s;
}
.controls.active{
    visibility: visible;
    transition: 0.5s;
}
.controls .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
}
.controls-top{
    padding: 5px 0;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.controls-top .btns-top{
    display: flex;
}
.controls-center{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.controls-center .prev-btn{
    opacity: .4;
    pointer-events: none;
}
.controls-center .prev-btn.active{
    opacity: 1;
    pointer-events: all;
}
.controls-center .replay-10:active{
    transform: rotate(-45deg);
}
.controls-center .skip-10.active, .controls-center .replay-10.active{
    visibility: visible;
    height: 200px;
    width: 200px;
    padding: 70px;
    position: absolute;
    left: var(--sk);
    z-index: 500;
}
.controls-center .skip-10:active{
    transform: rotate(45deg);
}
.controls-bottom{
    width: 95%;
    display: flex;
    gap: 7px;
    padding: 7px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.controls-bottom .bt-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 0.8em;
}
.controls-bottom .bt-top .vd-c{
    display: flex;
}
.controls-bottom .bar{
    position: relative;
    width: 100%;
    height: 5px;
    background: #757575;
    border-radius: 2px;
    cursor: pointer;
}
.bar .juice{
    position: absolute;
    width: 0;
    height: 5px;
    background: #0053cf;
    border-radius: 2px;
    z-index: 2;
}
.bar.active .juice{
    min-width: 15px;
    max-width: calc(100% - 15px);
}
.bar.active .juice::before{
    width: 20px;
    height: 20px;
}
.bar .juice::before{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    right: -5px;
    background: #0053cf;
    top: 50%;
    transform: translateY(-50%);
}
.bar .bufferedBar{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: inherit;
    border-radius: 2px;
    z-index: 1;
}
button{
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}
.controls .playPause-btn{
    font-size: 15%;
    opacity: 0;
}
.videoPlayer:has(.webicon.active) .playPause-btn{
    opacity: 1;
}

.controls-top .volume-container{
    position: relative;
    border-radius: 3px;
    height: 30px;
    color: #fff;
    background: #1f1d19cc;
    cursor: pointer;
    transition-delay: 1.5s;
    transition: 1s;
    z-index: 2;
    visibility: visible;
}
.controls-top .volume-container.active {
    color: var(--color);
    background: transparent;
    visibility: hidden;
}
.controls-top .volume-container.active .volume-muted-icon,
.controls-bottom .volume.active .volume-muted-icon{
    display: none;
}
.controls-top .volume-container:not(.active) .volume-high-icon,
.controls-bottom .volume:not(.active) .volume-high-icon{
    display: none;
}
.controls-top .volume-container.active p{
    padding: 0;
    width: 0;
    overflow: hidden;
}
.controls-top .volume-container p{
    position: absolute;
    top: 0;
    left: 30px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    font-size: 1em;
    height: 30px;
    width: min-content;
    background: inherit;
    white-space: nowrap;
}
.controls.active .controls-top .volume-container p{
    transition: width 1s, padding 0.2s;
}
.controls-top .volume{
    height: 30px;
    width: 30px;
    color: inherit;
    z-index: 2;
}
.controls-top .autoplay-btn{
    height: 30px;
    display: flex;
    align-items: center;
}
.controls-top .autoplay{
    width: 33px;
    height: 14px;
    border-radius: 20px;
    position: relative;
    margin-right: 8px !important;
    background: #6060609a;
    font-size: 15px;
}
.controls-top .autoplay::before{
    content: '\f04c';
    position: absolute;
    left: -3px;
    top: 50%;
    transform: translateY(-50%);
    width: 17px;
    height: 17px;
    aspect-ratio: 1;
    line-height: 17px;
    font-size: 10px;
    font-size: 0.8em;
    color: #fff;
    background: #606060;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-family: "Font awesome 6 Free";
    padding: 1px;
    cursor: pointer;
}
.controls-top .autoplay.active::before{
    content: '\f04b';
    left: 15px;
    padding-left: 3px;
    font-family: "Font awesome 6 Free";
    color: #000;
    background: #fff;
}
.controls-top .closed-caption{
    opacity: 1;
    pointer-events: all;
}
.controls-top .closed-caption.active{
    border-radius: 0;
    border-bottom: 2px solid crimson;
}
.controls-top .closed-caption.disabled{
    opacity: 0.4;
    pointer-events: none;
}
.controls-top .btns-top{
    display: flex;
    gap: 10px;
}
/*? Settings styling */
.little{
    width: 30px;
    height: 30px;
}
.little.dk{
    width: 40px;
    height: 40px;
    border: 3px solid transparent;
    background: #0000006e;
}
.controls.active .settingsBtn{
    transform: rotate(0);
    transition: 0.2s;
}
.controls.active .settingsBtn.active{
    transform: rotate(45deg);
}
.icon{
    width: 30px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
}
.videoPlayer .settings{
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    width: 95%;
    max-height: 85%;
    bottom: 15%;
    display: none;
    z-index: 20;
}.videoPlayer .context-menu{
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    display: none;
    z-index: 20;
}
.videoPlayer .settings.active, .videoPlayer .context-menu.active{
    display: block;
}
.videoPlayer .settings .wrapper,
.videoPlayer .context-menu .wrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    background: #1c1c1cf5;
    width: 100%;
    border-radius: 5px;
    padding: 25px 1px 15px 1px;
    white-space: nowrap;
    overflow: hidden;
    border: 2px solid #242424f5;
}
.videoPlayer .context-menu .wrapper{
    width: 250px;
}
.videoPlayer .settings .wrapper ::-webkit-scrollbar,
.videoPlayer .context-menu .wrapper ::-webkit-scrollbar{
    appearance: none;
    background: transparent;
    width: 5px;
    height: 5px;
}
.videoPlayer .settings .wrapper ::-webkit-scrollbar-thumb,
.videoPlayer .context-menu .wrapper ::-webkit-scrollbar-thumb{
    appearance: none;
    background: cornsilk;
    border-radius: 3px;
}
.videoPlayer .settings .wrapper .cls,
.videoPlayer .context-menu .wrapper .cls{
    width: 70px;
    height: 7px;
    top: 3px;
    border-radius: 3px;
    left: 50%;
    transform: translate(-50%);
    background: cornsilk;
    position: absolute;
}
.videoPlayer .settings .wrapper .drop,
.videoPlayer .context-menu .wrapper .drop{
    display: none;
    transition: 0.2s;
    max-height: 80vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.videoPlayer .settings .wrapper .drop.active{
    display: block;
}
.videoPlayer .settings .wrapper ul,
.videoPlayer .context-menu .wrapper ul{
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: 0.2s;
}
.videoPlayer .context-menu .wrapper ul{
    width: 280px;
    font-size: 1em;
}
.videoPlayer .settings .wrapper ul li,
.videoPlayer .context-menu .wrapper ul li{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    padding: 3px 5px;
    font-size: 0.8em;
    color: #fff8dc;
    cursor: pointer;
}
.videoPlayer .context-menu .wrapper ul li{
    word-break: break-all;
}
.videoPlayer .settings .wrapper ul li:hover,
.videoPlayer .context-menu .wrapper ul li:hover{
    background: #878787e6;
}
.videoPlayer .settings .wrapper .label{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 5px;
    color: #fff8dc;
    font-size: 1.5em;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 5px;
    transition: 0.5s;
}
.videoPlayer .settings .wrapper ul .myicons{
    margin-right: 10px;
}
.videoPlayer .settings .wrapper ul li.active .check::before{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: '\f058';
    font-family: "Font Awesome 6 Free";
}
.videoPlayer .settings .wrapper ul li .arrow{
    position: absolute;
    right: 5px;
    pointer-events: none;
    width: 17px;
    height: 17px;
}
.videoPlayer .settings .wrapper .drop .back-icon{
    padding-left: 10px;
    transition: 0.5s;
}
.videoPlayer .settings .wrapper .drop span{
    margin-right: 15px;
}

/*? Footer styling */
footer{
    position: fixed;
    width: 100%;
    padding: 15px 5px;
    background: #1b1b1a;
    text-align: center;
    font-size: 0.9em;
    color: #fff;
    bottom: 0;
    white-space: nowrap;
    transition: 0.5s;
    z-index: -1;
}
footer a{
    color: crimson;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}

/*! Only for light mode */
@media (prefers-color-scheme:light) {
    body{
        background: #fff;
        color: #0053cf;
    }
    .controls-top .volume-container{
        color: #000;
        background: #ffffffe3;
    }
    .aside-container{
        border-top: 3px solid #333;
    }
    .aside{
        border-top: 3px solid #333;
    }
    .links .asideVid {
        box-shadow: inset 0 0 5px #000;
    }
    .links a img {
        box-shadow: 0 0 5px #000;
    }
}
@media (orientation:landscape) {
    .grid{
        position: relative;
        top: 0;
    }
    .watch{
        position: relative;
        min-height: 700px;
    }
}
@media (min-width:600px) {
    .caption_text{
        left: 50%;
        transform: translate(-50%);
        font-size: 1em;
        text-align: center;
    }
}
@media (max-width:300px) {
    .videoPlayer .settings .wrapper .label{
        font-size: 1em;
    }
    .videoPlayer .settings .wrapper ul li{
        font-size: 0.8em;
    }
    .videoPlayer .settings .wrapper .drop .back-icon{
        width: 25px;
        height: 25px;
    }
    footer{
        font-size: 0.7em;
    }
}